{% for product in products %}
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Категория: <a href="{% url 'category_view' product.category %}" class="category_link">{{ product.get_category_display }}</a></p>
                <p class="card-text">Цена: {{ product.price }}</p>
                <a href="{% url 'product_view' product.pk %}" class="btn btn-primary">Подробнее</a>
                <a href="{% url 'product_update' product.pk %}" class="btn btn-primary">Изменить</a>
                <a href="{% url 'product_delete' product.pk %}" class="btn btn-primary">Удалить</a>
                <form action="{% url 'product_add' product.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" name="add" value="Добавить в корзину">
                </form>
            </div>
        </div>
{% endfor %}