{% extends 'base.html' %}
{% block title %}Shop-ON-homE{% endblock %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'product_create' %}">Добавить новый продукт</a>
    </li>
{% endblock %}

{% block content %}
    <div class="main_page">
        <h1 class="title">Online Shop</h1>
        {% for products in product %}
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">{{ products.name }}</h5>
                    <p class="card-text">Category: <a href="#" class="category_link">{{ products.category }}</a></p>
                    <p class="card-text">Price: {{ products.price }}</p>
                    <a href="{% url 'product_view' products.pk %}" class="btn btn-primary">Подробнее</a>
                    <a href="{% url 'product_update' products.pk %}" class="btn btn-primary">Изменить</a>
                    <a href="{% url 'product_delete' products.pk %}" class="btn btn-primary">Удалить</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'product_create' %}" class="btn btn-primary btn-lg btn-block">Добавить товар</a>
{% endblock %}
