{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'product_view' product.pk %}">Отмена</a>
    </li>
{% endblock %}

{% block content %}
<div class="card">
    <form action="{% url 'product_delete' product.pk %}" method="post">
        {% csrf_token %}
        <h5 class="card-header">Удаление</h5>
        <div class="card-body">
            <h5 class="card-title">Вы действительно хотите удалить товар "{{ product.name }}"?</h5>
            <p class="card-text">Описание товара: {{ product.description }}</p>
            <p><input type="submit" class="btn btn-primary btn-lg btn-block" value="Да"></p>
            <a class="btn btn-primary btn-lg btn-block"  href="{% url 'product_view' product.pk %}">Нет</a>
        </div>
    </form>
</div>

{% endblock %}